[defaults]
command_warnings = False
deprecation_warnings = False
inventory      = ./inventory/inventory.ini
remote_user    = vagrant
host_key_checking = False
retry_files_enabled = False
# This makes the output much prettier and easier to read
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
